html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


body{
    width: 60%;
    margin: auto;
    
}

main{

    padding-left: 0.5em;
}
header div{
    background-attachment: fixed;
    background-image: url(../img/pattern.png);
    background-position-x: right;
    background-size: auto;
    background-color: dodgerblue;
    padding-right: 85%;
    padding-top: 5em;
    padding-left: 0.5em;
}

h1{
    margin-bottom: 0%;
}

#titolo{
    
    font-size: larger;
    text-align: left;
    margin-right: 15%;
    

}

#foto{
    width: 100%;
    resize: both;

}

#titolo h5{
    margin-block-start: 0%;
    margin-block-end: 0%;
    color: rgba(0, 0, 0, 0.5) ; 
}
#titolo h6{
    margin-block-start: 0%;
    color: rgba(0, 0, 0, 0.5)
}
a{
    text-decoration-line: none;
    
}

ul{
    text-align: left;
    padding-left: 1em;
}
#extra p{
    margin-block: 0%;
    font-size: x-small;
}


table{
    border-collapse: collapse;
}
thead{
    text-align: left;
    background-color: cornflowerblue;
    color: aliceblue;
}

#tcol{
    width: 50%;
}

#even{
    background-color: aliceblue;
}
#odd{
    vertical-align: center;
    background-color: aquamarine;
}