html{
    font-family: georgia,'Times New Roman', Times, serif;
}


main{

    padding-left: 1em;
}

/* banner e logo */
header{
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    background-size: 30%;
    background-color: dodgerblue;
    background-position: center top;
    padding-right: 80%;
}

header div img{
    font-size: 1em;
    padding-top: 4em;
    padding-right: 5em;
    padding-left: 0.5em;

}



/* titolo e link */
#titolo h1{
    font-weight: bolder;
    margin-bottom: 0%;
}

#titolo h5{
    margin-block-start: 0%;
    margin-block-end: 0%;
    color: rgba(0, 0, 0, 0.5) ; 
}
#titolo h6{
    margin-block-start: 0%;
    color: rgba(0, 0, 0, 0.5)
}
a:link{
    color: cornflowerblue;
    text-decoration: none;
}
a:visited{
    text-decoration-line: none;
    color: cornflowerblue;
}

/* riconoscimenti */
#extra p{
    margin-block: 0%;
    font-size: x-small;
}



/* lista */
ul{
    text-align: left;
    padding-left: 1em;
}

/* formattazione tabella */
table{
    border-collapse: collapse;
}
thead{
    text-align: left;
    background-color: cornflowerblue;
    color: aliceblue;
}

thead th:last-child{
    width: 50%;
}

#even{
    vertical-align: center;
    background-color: white;
}
#odd{ 
    vertical-align: center;
    background-color: lightblue ;
}

/* footer con suggerimenti */
footer{
    padding-left: 1em; 
}

footer p{
    font-weight: bold;
    color: rgba(0, 0, 0,0.5);
}


.container{
    position: relative;
    height: 208px;
    width: 312px;
    margin-bottom: 20px;
}

footer div h4{
    position: absolute;
    top: 0px;
    left: 5%;
    width: 100%;
    color: white;
}
